<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome | Super Sprinter 3000</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Super Sprinter 3000</h1>
    <a href="/story">Add new User Story</a>
    <table>
      <tr>
        <th>Id</th>
        <th>Story Title</th>
        <th>User Story</th>
        <th>Acceptance Criteria</th>
        <th>Business value</th>
        <th>Estimations</th>
        <th>Status</th>
      </tr>
      <% if (storiesArr) { %>
      <%  for (let i=0; i < storiesArr.length; i++){ %>
      <%    let story = storiesArr[i]; %>
         <tr>
           <th><%= story.id %></th>
           <th><a href="/story/<%= story.id %>"><%= story.title %></a></th>
           <th><%= story.story %></th>
           <th><%= story.criteria %></th>
           <th><%= story.value %> points</th>
           <th><%= story.estimations %>h</th>
           <th><%= story.status %></th>
         </tr>
      <%  } %>
      <% } %>
    </table>
  </body>
</html>
